growthsalessacademy.com {
    handle /uploads/* {
        root * /srv
        file_server
    }

    handle {
        reverse_proxy app:3000 {
            transport http {
                response_header_timeout 600s
            }
        }
    }

    request_body {
        max_size 500MB
    }
}
