growthsalessacademy.com {
    handle /uploads/* {
        root * /srv
        file_server
    }

    handle {
        reverse_proxy app:3000
    }

    request_body {
        max_size 25MB
    }
}

aplica.growthsalessacademy.com {
    reverse_proxy landing:3000
}

vsl.growthsalessacademy.com {
    reverse_proxy vsl:3000
}
